@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  min-height : 1200px !impotent;
}

.title{
  font-weight : 700;
  font-size : 2rem;
  color : #fbf8f9;
}

.title-small{
  font-size : 1rem;
}
.header-color {
  background-color : #7CC3E7;
}
.bg-muted {
  background-color : #f4f4f5;
}
.textmuted {
  background-color : #6e6e77;
}
.bg-footer {
  background-color:#f4f4f5;
  coloer : #6e6e77;
}
